<!DOCTYPE html>
{% load static %}
<html>

  <head>
    <link rel="stylesheet" href="{% static 'shortner/stylesheet.css'%}">
    <script src="https://unpkg.com/htmx.org@1.5.0"
      integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI"
        crossorigin="anonymous">
    </script>
  </head>

  <body>
    <form method="post">
      {% csrf_token %}
      <fieldset>
        <input type="text" name="url" id="url" placeholder="Enter a Link to be shortened">
        <button hx-post="{% url 'shortner:shorten_link' %}" value="Short" id="button"> shorten</button>
        <p style="color:#ffffff ; font-size:8px; text-align: center;">By clicking SHORTEN, you are agreeing to Bitly’s
          <a href="https://bitly.com/pages/terms-of-service"> <u> Terms of Service</u></a>,
          <a href="https://bitly.com/pages/privacy"><u>Privacy Policy</u></a>, and
          <a href="https://bitly.com/pages/acceptable-use"><u>Acceptable Use Policy</u></a>
        </p>
      </fieldset>
    </form>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>
  </body>

</html>