<!DOCTYPE html>
{% load static %}

<html>

<head>
    <link rel="stylesheet" href="{% static 'shortner/stylesheet.css'%}">
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        <fieldset id="f-url">
            <input type="text" name="url" value="{{url}}" id="url" placeholder="Enter a Link to be shortened">
            <button hx-post="{% url 'shortner:shorten_link' %}" type="submit" value="Short" id="button"> shorten</button>
            <p style="color:#ffffff ; font-size:8px; text-align: center;">By clicking SHORTEN, you are agreeing to
                Bitly’s
                <a href="https://bitly.com/pages/terms-of-service"> <u> Terms of Service</u></a>,
                <a href="https://bitly.com/pages/privacy"><u>Privacy Policy</u></a>, and
                <a href="https://bitly.com/pages/acceptable-use"><u>Acceptable Use Policy</u></a>
            </p>
        </fieldset>

    </form>
    {% csrf_token %}
    <fieldset id="fc-url">
        <input type="text" name="shortened_url" value="{{shortened_url}}" id="copy-url">
        <button onclick="copy()" id="copy-button"> copy link</button>
    </fieldset>
    <script>
        function copy() {
            var copyText = document.getElementById("copy-url");
            copyText.select();
            navigator.clipboard.writeText(copyText.value);
        }
    </script>
</body>

</html>